body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* My CSS */


.jumbotron{
  height: 100vh;
  padding: 0 !important;
  width: 100vw;
}

.bg-img {
  background-image: url(../src/assets/images/pupsterhero.jpg);
  /* background-image: url(../src/assets/images/stones.jpeg); */
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}